*.log
*_log

**/*.log
**/*_log

logs/*
**logs/*

webroot/uploads/documents
webroot/uploads/extracts
webroot/uploads/files
webroot/uploads/notes
webroot/uploads/taxes

webroot/support/
/tmp/*
node_modules

